body {
    /* background-color: #E9DAC1 */
    background-color: #FBF8F1
}
hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 8px;
    width: 20%;
}
h1, h3 {
    color: #1b998f
}